$width : 80%;
$center : auto;
$color-font : white;

mat-card {
  max-width: $width;
  margin: 3rem $center;
  text-align: center;
  border-radius: 20%;
}

button {
  margin: 0.5rem;
  background-color: #164e86;
  color: $color-font;
}

.option {
  background-color: #34495e;
}